@page "/sleepenter"
@inherits SleepEnterBase

<section>
    
    <h1 class="page-title">Sleep Entry</h1>
    
    <p>@Message</p>
    @if (sleepentries == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table table-striped sleep-table">
            <thead>
            <tr>
                <th>Start</th>
                <th>Wakeup</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in sleepentries)
            {
                <tr>
                    <td>@entry.StartTime</td>
                    <td>@entry.WakeTime</td>
                </tr>
            }
            <tr>
                <td>@newentry.StartTime</td>
                <td></td>
            </tr>
            </tbody>
            </table>
                <button class="btn btn-primary" @onclick="@WakeUpHandler">Wakup</button>
                <button class="btn btn-secondary" @onclick="@SleepHandler">Sleep</button>
                <button class="btn btn-secondary" @onclick="@NewDayHandler">New Day</button>
    }
</section>
