@page "/sleepenter"
@inherits SleepEnterBase

<section>
    
    <h1 class="page-title">Sleep Entry</h1>
    
    <p>@Message</p>
    @if (sleepentries == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table table-striped sleep-table">
            <thead class="thead-dark">
            <tr>
                <th>Start</th>
                <th>Wakeup</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in sleepentries)
            {
                <tr>
                    <td>@entry.StartTime</td>
                    <td>@entry.WakeTime</td>
                </tr>
            }
            <tr>
                <td>@newentry.StartTime</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <span style="display: inline-block; width: 50%;">
        <button class="btn btn-primary" @onclick="@WakeUpHandler">Wakup</button>
        <button class="btn btn-secondary" @onclick="@SleepHandler">Sleep</button>
        <button class="btn btn-secondary" @onclick="@NewDayHandler">New Day</button>
        <p style="border: 1px solid black; width: 250px; padding: 2px; margin: 2px;"> sleep duration: @SleepDuration</p>
        </span>
    }
</section>
